.user_card{
    display: inline-block;
   margin-right: 40px;
    background-color: grey;
    width: 300px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 6px 6px 6px black;
}
.user_card button{
    background-color:white;
    border: 2px solid rgb(98, 6, 98);
    padding: 6px 15px;
    color:rgb(63, 4, 63);
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s;
}
.user_card button:hover{
    box-shadow: 0 0 10px purple;
}